extends layout

block content
  p
    a(href='/pmo?status=open') Back to projects list
  h1 #{projectTypes[project.projectType]} Details
  a(href="" hx-get="/pmo/project/" + project.id + "/update_desc", hx-target="#project-description", hx-swap="innerHTML")
    span.material-symbols-outlined edit
  div(id="project-description")
    include partial_projectDesc
  p Aggregated project info:
  ul
    li #{projectTypes[project.projectType]} Open/Closed: 
      include partial_projectStatus
    if project.statuses.length !== 0
      li The latest status: 
        div(class='circle ' + [project.statuses[0].status])
    if initiative
      li Initiative:
        a(href='/pmo/initiative/' + initiative.id) #{initiative.name}
    if project.Issues.filter(issue => issue.type === 'risk').length
      li #{projectTypes[project.projectType]} risk: #{project.avgRisk}
  h2 Quick links
  ul
    if templates.length !== 0
      li 
        a(href="#rec_docs") Recommended documents 
    li 
      a(href="#act_docs") #{projectTypes[project.projectType]} documents 
        span.material-symbols-outlined description
    ul
      li
        a(href="#docs_statuses") Statuses
          span.material-symbols-outlined flag
      li
        a(href="#docs_issues") Issues
          span.material-symbols-outlined question_mark
      li
        a(href="#docs_changes") Changes 
          span.material-symbols-outlined change_circle
      li
        a(href="#docs_problems") Problems 
          span.material-symbols-outlined brightness_alert
      li
        a(href="#docs_risks") Risks 
          span.material-symbols-outlined warning
    li 
      a(href='#results') #{projectTypes[project.projectType]} results 
        span.material-symbols-outlined description
    li
      a(href='#comments') Comments 
       span.material-symbols-outlined chat
     
  if templates.length !== 0
    h2#rec_docs Recommended documents 
    ul
      each template in templates
        if template.fileName
          - const strippedFileName = template.fileName.replace('uploads', '../..')
          li
            a(href=strippedFileName) #{template.Name}
        else
          li= template.Name
  h2#act_docs #{projectTypes[project.projectType]} documents 
    span.material-symbols-outlined description
  - var itemType = 'project_docs'
  - var itemId = project.id
  include partial_addAttachment
  - var attachments = project.project_docs
  div(id=`attach-${itemType}`)
    include partial_attachmentList
  h3#docs_statuses Statuses 
    span.material-symbols-outlined flag
  details
    summary.outline(role="button")
      span.material-symbols-outlined add
    include partial_addStatus
  div(id="status-list")
    if project.statuses.length !== 0
      include partial_statusList
  h3#docs_issues Issues 
    span.material-symbols-outlined question_mark
  details
    summary.outline(role="button")
      span.material-symbols-outlined add
    - var formDetails = { issueType: 'issue', buttonName: 'Add an issue'}
      include partial_addIssue
  div(id=`issue-type-${formDetails.issueType}`)
    if project.Issues.filter(issue => issue.type === 'concern' || issue.type === 'off-specification').length
      include partial_issueTable
  h3#docs_changes Changes 
    span.material-symbols-outlined change_circle
  details
    summary.outline(role="button")
      span.material-symbols-outlined add
    - var formDetails = { issueType: 'change', buttonName: 'Add a change request'}
    include partial_addIssue
  div(id=`issue-type-${formDetails.issueType}`)
    if project.Issues.filter(issue => issue.type === 'change').length
      include partial_issueTable
  h3#docs_problems Problems 
    span.material-symbols-outlined brightness_alert
  details
    summary.outline(role="button")
      span.material-symbols-outlined add
    - var formDetails = { issueType: 'problem', buttonName: 'Add a problem'}
      include partial_addIssue
  div(id=`issue-type-${formDetails.issueType}`)
    if project.Issues.filter(issue => issue.type === 'problem').length
      include partial_issueTable
  h3#docs_risks Risks 
    span.material-symbols-outlined warning
  details
    summary.outline(role="button")
      span.material-symbols-outlined add
    - var formDetails = { issueType: 'risk', buttonName: 'Add a risk'}
    include partial_addIssue
  div(id=`issue-type-${formDetails.issueType}`)
    if project.Issues.filter(issue => issue.type === 'risk').length
      include partial_issueTable
  h2#results #{projectTypes[project.projectType]} results 
    span.material-symbols-outlined description
  - var itemType = 'project_result'
  - var itemId = project.id
  include partial_addAttachment
  - var attachments = project.project_result
  div(id=`attach-${itemType}`)
    include partial_attachmentList
  - var comments = project.comment
  - var postAddress = '/pmo/' + project.id + '/add_comment?from=project'
  include partial_comments
